@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

html {
  // Reference: https://snook.ca/archives/html_and_css/font-size-with-rem
  font-size: 62.5%;

  body {
    font-family: 'Crete Round', serif;

    * {
      font-size: 1.7rem !important;
    }

    h1 {
      font-size: 3.2rem !important;
    }

    h2 {
      font-size: 2.4rem !important;
    }

    h3 {
      font-size: 1.872rem !important;
    }

    h4 {
      font-size: 1.792rem !important;
    }

    h5 {
      font-size: 1.328rem !important;
    }

    h4 {
      font-size: 1.2rem !important;
    }
  }
}
